.top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #37475a;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
}

.top:hover {
    background-color: #4c6078;
    transition: 3ms;
}

.backToTop > a {
    color: #ffffff;
    text-decoration: none;
    border: none;
}